#container {
    position: inherit;
}
.new-die {
    width: 100px;
    height: 100px;
    position: inherit;
    display: inline-block;
    margin: 2em;
    font-family: Helvetica;
    border: olivedrab solid 2px;
    text-align: center;
    line-height: 6em;
    cursor: pointer;
    border-radius: 10px;
}
